<% @page_title = "Delete Page" %>

<%= link_to("<< Back to list", {:action => 'list', :subject_id => @subject.id}, :class => 'back_link') %>

<div class="page delete">
	<h2>Delete Page</h2>

	<%= form_for(:page, :url => {:action => 'destroy', :id => @page.id, :subject_id => @subject.id}) do |f| -%>

		<p>Are you sure you wish to permanently delete this page?</p>

		<p class="reference room"><%= @page.name %></p>

		<div class="form-buttons">
			<%= submit_tag("Delete Page") %>

		</div>
	<% end %>
</div>